//Variables

$color-one: #bbc4c9; 
$color-logo: #ffff00;      
$color-hover: #dddd11;    

$transition: all 1s;

/* Global */

*, *::before, *::after {
    box-sizing: border-box;   
}

body {
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.7;
    text-align: center;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: auto;
}

section {
    padding: 96px 0;   
}

.section__title {
    font-size: 48px;
    margin: 0 0 72px 0;
}

.box__title {
    font-size: 24px;
    margin: 0 0 36px 0;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-color: inherit;
    background-position: 100% 0;
    background-size: 300%;
    transition: $transition;
    &:hover {
        background-position: 0 100%;
        color: $color-hover;   
    }
}
