//Variables

$color-one: #eeeeee; 
$color-logo: #bac51f;      
$color-extra: #232323; 
$color-quote: #a09c9c; 

$transition: all 1s;

$font-logo: 'Cedarville Cursive', cursive;
$font-style: 'Lato', sans-serif;

/* Global */

*, *::before, *::after {
    box-sizing: border-box;   
}

body {
    margin: 0;
    font-size: 15px;
    line-height: 1.7;
    text-align: center;
    font-family: $font-style;
}

.container {
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

section {
    padding: 60px 0;   
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section__title {
    font-size: 36px;
    text-transform: uppercase;
    margin: 40px 0 50px 0;
    position: relative;
    letter-spacing: 1px;
    font-weight: 900;
    &::after {
        font-size: 12px;
        font-style: italic;
        color: $color-quote;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        content: 'Lorem ipsum dolor sit amet, consectetur';
        text-transform: capitalize;
    }
}

.box__title {
    font-size: 18px;
    text-transform: capitalize;
    margin: 0;
    padding-top: 10px;
}

/* Header */

.navigation {
    height: 70vh;
    background-image: url('/images/imgb.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;   
}

/* Navigation */

.navigation__title {
    flex: 0 0 20%;  
    display: flex;
    justify-content: flex-start;
    h1 {
        color: $color-logo;
        font-style: italic;
        font-family: $font-logo;
    }
}

.navigation__menu {
    flex: 0 0 80%;
    display: flex;
    justify-content: flex-end;
    ul {
        list-style-type: none; 
        padding: 0;
        margin: 0;
        li {
            margin: 5px;
            text-transform: uppercase; 
            display: inline-block;
            margin: 40px 40px 0 0;
            a {
                color: $color-one;
                text-decoration: none;
            }
        }
    }
}

/* Splash */

.splash {
    position: relative;
    height: 70vh;
}

.splash__inner {
    position: absolute;
    color: $color-one;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.splash__inner--title {
    font-size: 30px;
    font-style: italic;
}

.splash__inner--subtitle {
    font-size: 48px;
    text-transform: uppercase;
}

.splash__inner--btn {
    background: $color-logo;
    text-decoration: none;
    height: 50px;
    line-height: 50px;
    min-width: 140px;
    display: inline-block;
    border-radius: 5%;
    color: $color-one;
    text-transform: uppercase;
    text-align: center;
}

/* Services */

.services__box {
    flex: 0 0 33.333%; 
    padding: 20px;
    i {
        font-size: 50px;
        width: 80px;
        height: 80px;
        line-height: 80px;
        color: $color-logo;
        border: 2px solid $color-logo;
        border-radius: 50%;
    }
    p {
        font-style: italic;
        color: $color-quote;
        text-transform: capitalize;
        line-height: 1.2;
        margin-top: 2px;
    }
}

/* Services */

.portfolio {
    background: $color-one;
}

.portfolio__box { 
    flex: 0 0 33.333%;   
    min-height: 300px;
    margin-bottom: 80px;
    padding: 0 20px;
}

.portfolio__image {
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        vertical-align: middle;
    }
}

.portfolio__description {
    background: white;
    padding: 5px;
    height: 85px;
    p {
        font-style: italic;
        color: $color-quote;
        text-transform: capitalize;
        line-height: 1;
        margin-top: 1px;
    }
}

/* Footer */

.footer {
    text-align: center; 
    padding: 20px; 
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none; 
        li {
            height: 40px;
            width: 40px;
            line-height: 40px;
            font-size: 20px;
            border-radius: 50%;
            display: inline-block;
            margin: 0 10px;
            background: $color-extra;
            text-align: center;
            a {
                text-decoration: none; 
                color: $color-one; 
            }
        }
    }
}

.footer__copyright {
    flex: 0 0 40%; 
    text-align: left;
}

.footer__socialmedia {
    flex: 0 0 60%; 
    text-align: left;
}

